.container {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid black;
}
.acme {
    background: yellow;
    color: brown;
    border: 2px solid black;
    font-size: 150%;
    width: 20%;
    
}