.container {
    border: 5px solid black;
    margin: 15px;
    width: 50%;

}

p {
    border: 1px solid black;
    margin: 15px;
}
button {
    font-size: 110%;
    color: brown;
    cursor: pointer;
    background-color: yellow;
}